<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <ul>
            <li v-for="n in numbers">{{ n }}</li>
        </ul>

        <table>
            <thead>
                <tr>
                    <th>이름</th>
                    <th>나이</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="p in people" v-if="p.age < 30">
                    <td>{{ p.name }}</td>
                    <td>{{ p.age }}</td>
                </tr>
            </tbody>
        </table> -->

        <h1 v-if="visible">
            <!-- 완전 삭제 -->
        </h1>
        <h1 v-show="visible">
            <!-- 자리는 유지하되, 보이지 않게 -->
        </h1>
    </div>


    <script>
        // var app = new Vue({
        //     el : '#app',
        //     data : {
        //         numbers : [1,2,3,4,5,6,7],
        //         people : [
        //             {
        //                 name : '세종대왕',
        //                 age : 25
        //             },
        //             {
        //                 name : '장영실',
        //                 age : 40
        //             },
        //             {
        //                 name : '이율곡',
        //                 age : 20
        //             }
        //         ]
        //     }
        // });

        var app = new Vue({
            el : '#app',
            data : {
                visible:false
            }
        });
   
    </script>
    
</body>
</html>