.container{
    width: 1200px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* navi */
nav{
    height: 100px;
    background-color: lemonchiffon;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top: 30px;
}
.menu{
    padding-top: 10px;
}
.menu>ul{
    display: flex;
    text-align: center;
}
.menu>ul>li{
    width: 100px;
    padding: 10px 10px;
    border: 1px solid #000;
}
.menu>ul>li>a{
    color: #000;
}
.menu ul{
    float:left;
}
.main-menu{
    padding-right: 10px;
}
.sub-menu{
    background-color:#ccc;
}
.sub-menu>ul>li>a{
    color: #000;
    padding:10px 2px;
}
.sub-menu>ul>li{
    padding:5px 0;
}


/* slide */
.slide{
    height: 300px;
    background: lightblue;
}



/* content */
.content{
    height: 200px;
    display: flex;
}
/* tab */
.tab{
    width: 400px;
    background: lightgreen;
}
/* banner */
.banner{
    width: 400px;
    background: lightpink;
}
/* direct */
.direct{
    width: 400px;
    background: lightskyblue;
}



/* footer */
.footer{
    height: 100px;
    background: lightslategrey;
}