
    @font-face { font-family: 'NEXON Lv1 Gothic OTF'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff'); font-weight: normal; font-style: normal; }

    @font-face { font-family: 'Eoe_Zno_L'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_L.woff') format('woff'); font-weight: normal; font-style: normal; }

.section01{
    width: 100%;
}
.logo{
    padding-left: 20px;
}
.main-title{
    width: 40%;
    padding-top: 100px;
    padding-left: 220px;
}
.main-title-1{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size:50pt;
    font-weight: 800;
    letter-spacing: 3pt;
    color: #fff;
}
.main-title-2{
    font-family: 'Eoe_Zno_L';
    font-size: 25pt;
    font-weight: 500;
    letter-spacing: 2pt;
    color: #fff;
}

.main-img{
    background: url(../images/sec01-7.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
    justify-content: center;
}

/* section2 */
.section02-title{
    padding-top: 50px;
}
.section02-title h1{
    font-family: 'NEXON Lv1 Gothic OTF';
}
#sg,#mc,#tb,#sb,#rf{
    display: none;
}
.color-text>ul{
    display: flex;
}
.color-text>ul>li{
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    cursor: pointer;
}
.text-content>ul>li{
    list-style: none;
}
.text-content h3{
    font-family: 'Eoe_Zno_L';
}
.text-content p{
    font-family: 'Eoe_Zno_L';

}
.wc{
    background-color: #f3f5f5;
    border: 3px solid #ccc;
}
.sg{
    background-color: #555756;
    border: 1px solid #ccc;
}
.mc{
    background-color: #273446;
    border: 1px solid #ccc;
}
.tb{
    background-color: #1a191e;
    border: 1px solid #ccc;
}
.sb{
    background-color: #3f1f23;
    border: 1px solid #ccc;
}
.rf{
    background-color: #404e49;
    border: 1px solid #ccc;
}

.tab-img>div>img{
    width: 80%;
}
.sg-txt, .mc-txt, .tb-txt, .sb-txt, .rf-txt{
    display: none;
}

















@media (max-width:767px){
    /* section01 */
    .main-title{
        width: 60%;
        padding-top: 0;
        padding-left: 40px;
   
    }
    .main-title-1{
        font-size:30pt;
        font-weight: 700;
        letter-spacing: 3pt;
    }
    .main-title-2{
        font-size: 15pt;
        font-weight: 400;
        letter-spacing: 1pt;
    }


    /* section02 */
    .tab-img>div>img{
        width: 100%;
    }
    .color-text>ul>li{
        width: 40px;
        height: 40px;
        margin: 10px 10px;
    }
}
