
    /* @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css); .jejumyeongjo * { font-family: 'Jeju Myeongjo', serif; } */

    @font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }

    @font-face { font-family: 'ON-IGothic'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff') format('woff'); font-weight: normal; font-style: normal; }


.section01{
    width: 100%;
}
.logo{
    padding-left: 3%;
}

.main-title{
    padding-top: 4vh;
}
.main-title-1{
    font-family: 'ON-IGothic';
    font-size:70px;
    font-weight: 800;
    letter-spacing: 8px;
    color: #fff;
}
.main-title-2{
    font-family: 'ON-IGothic';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #fff;
}

.main-img{
    background: url(../images/mbg2.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
    justify-content: center;
}

.main-info-bg{
    background-color: rgba(0, 0, 0, 0.7);

    width: 100%;
    height: 20vh;
    margin-top: 40vh;
}
.main-info{
    padding-top: 2vh;
    height: 20vh;
    display: flex;
}
.main-info img{
    width: 20%;
    margin-bottom: 1vh;
}
.main-info p{
    font-family: 'ON-IGothic';
    color: #ccc;
}
.main-info-title{
    font-size: 17px;
}
.main-info-txt{
    font-size: 14px;
}


/* section2 */
.section02{
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.section02-title h1{
    font-family: 'ON-IGothic';
}
.sg,.mc,.tb,.sb,.rf{
    display: none;
}
.color-box>ul{
    display: flex;
}
.color-box>ul>li{
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    cursor: pointer;
}
.text-content>ul>li{
    list-style: none;
}
.text-content h3{
    font-family: 'ON-IGothic';
    font-weight: 500;
    font-size: 30px;
}
.text-content p{
    font-family: 'ON-IGothic';
    font-size: 20px;
}
.wc-color{
    background-color: #f3f5f5;
    border: 3px solid #ccc;
}
.sg-color{
    background-color: #555756;
    border: 1px solid #ccc;
}
.mc-color{
    background-color: #273446;
    border: 1px solid #ccc;
}
.tb-color{
    background-color: #1a191e;
    border: 1px solid #ccc;
}
.sb-color{
    background-color: #3f1f23;
    border: 1px solid #ccc;
}
.rf-color{
    background-color: #404e49;
    border: 1px solid #ccc;
}
.wc-txt h3{
    color: #ccc;
}
.sg-txt h3{
    color: #555756;
}
.mc-txt h3{
    color: #273446;
}
.tb-txt h3{
    color: #1a191e;
}
.sb-txt h3{
    color: #3f1f23;
}
.rf-txt h3{
    color: #404e49;
}

.wc-txt p{
    color: #ccc;
}
.sg-txt p{
    color: #555756;
}
.mc-txt p{
    color: #273446;
}
.tb-txt p{
    color: #1a191e;
}
.sb-txt p{
    color: #3f1f23;
}
.rf-txt p{
    color: #404e49;
}

.tab-img>div>img{
    width: 80%;
}
.sg-txt, .mc-txt, .tb-txt, .sb-txt, .rf-txt{
    display: none;
}

/* section3 */
.section03{
    background-color: #f2f2f2;
}
.section03-title{
    padding-bottom: 3%;
}
.section03-title h1{
    font-family: 'ON-IGothic';
}
.section03-title h3{
    font-family: 'ON-IGothic';
}
.exterior>img{
    width: 100%;
    margin-bottom: 1vh;
    cursor: pointer;
}
.exterior-front{
    display: flex;
}
.exterior-front-right{
    display: flex;
}

.modal-header h4{
    font-family: 'ON-IGothic';
}
.modal-body p{
    font-family: 'ON-IGothic';
}
.modal-backdrop{
    position: relative !important;
}
.modal{
    position: absolute;
    top: 0;
    left: 20%;
}

/* section4 */
.section04-title{
    padding-bottom: 3%;
}
.section04-title h3{
    font-family: 'ON-IGothic';
}
.exterior-rear{
    display: flex;
}





/* section5 */
.section05{
    background-color: #f2f2f2;
}
.section05-title{
    padding-bottom: 3%;
}
.section05-title h1{
    font-family: 'ON-IGothic';
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

    margin-bottom:2%;
    font-family: 'ON-IGothic';
  }
  
  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 20px;
    background-color: transparent;
    color: #FFF;
    padding: 3% 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 2% 0;
    opacity: 0;
    font-size: 15px;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
.interior-1{
    display: flex;
}
.interior-2{
    display: flex;
}
.interior-wrap{
    display: block;
}

/* section6 */
.section06-title{
    padding-bottom: 3%;
}
.section06-title h1{
    font-family: 'ON-IGothic';
}

.wheel{
    margin-bottom: 2vh;
    transition: all 0.5s;
}
.wheel-img{
    display: flex;
}
.wheel p{
    font-family: 'ON-IGothic';
    padding-top: 5%;
    font-size: 15px;
    color: #000;
}
.wheel img{
    cursor: pointer;
    width: 60%;
}

.folding-section{
    padding-top: 2%;
}
.fold-menu{
    margin-left:15vw;

    text-decoration: none;
    list-style: none;
}
.fold-menu li{
    font-family: 'ON-IGothic';
}

.fold-detail>img{
    width: 40%;
}


/* section7*/
.section07{
    background-color: #f2f2f2;
}
.section07-title{
    padding-bottom: 3%;
}
.section07-title h1{
    font-family: 'ON-IGothic';
}
.interior-color-wrap{
    display: flex;
}
.interior-color-img{
    width: 100%;
    height: 320px;

    margin: 2% 5%;
}
.interior-color-img-1{
    background: url(../images/interiorcolor1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
.interior-color-img-2{
    background: url(../images/interiorcolor2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
.interior-color-img-3{
    background: url(../images/interiorcolor3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
.interior-color-img-4{
    background: url(../images/interiorcolor4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
.interior-color{
    width: 50%;
    overflow: hidden;
}
.interior-color-img:hover{
    transform: scale(1.1);
}
.interior-color h3{
    padding-top: 22%;
    color: #fff;
    font-family: 'ON-IGothic';
    padding-left: 10%;
}
.interior-color h4{
    padding-top: 2%;
    color: #ccc;
    font-family: 'ON-IGothic';
    padding-left: 10%;
}

/* section 8*/
.section8-title{
    padding-bottom: 3%;
}
.section8-title h1{
    font-family: 'ON-IGothic';
}
.section8-title h3{
    font-family: 'ON-IGothic';
}

.swiper-container {
	width: 90%;
	height: 100%;
  }
  .swiper-slide {
	text-align: center;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  .swiper-slide p{
      font-size: 20px;
      color: #000;
      padding-bottom: 450px;
      font-family: 'ON-IGothic';
  }
.slider1{
	width:100%;
	height:500px;
    background: url('../images/vip.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.slider2{
	width:100%;
    height:500px;
    background: url('../images/vip4.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.slider3{
	width:100%;
	height:500px;
	background: url('../images/vip5.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.slider4{
	width:100%;
	height:500px;
	background: url('../images/vip1.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.slider5{
	width:100%;
	height:500px;
	background: url('../images/vip2.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.slider6{
	width:100%;
	height:500px;
	background: url('../images/vip3.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

/* section 9*/
.section09{
    background-color: #f2f2f2;
}
.section09-title{
    padding-bottom: 2%;
}
.section09-title h1{
    font-family: 'ON-IGothic';
}
.performance-img>img{
    width: 90%;
}
.convenience-img>img{
    width: 90%;
}
.performance-txt{
    padding-top: 10%;
}
.performance-txt>p{
    font-family: 'ON-IGothic';
    font-size: 15px;
}
.performance-txt>h4{
    font-family: 'ON-IGothic';
    font-weight: 600;
}
.convenience-img>p{
    font-family: 'ON-IGothic';
    font-size: 15px;
    color: #000;
}
.convenience-img>h4{
    font-family: 'ON-IGothic';
    font-weight: 600;
}
.performance-wrap{
    display: flex;
    padding-bottom:2%;
}
.convenience-wrap{
    display: flex;
}


/* section 10*/
.section10-title{
    padding-bottom: 3%;
}
.section10-title h1{
    font-family: 'ON-IGothic';
}
.section10-title h3{
    font-family: 'ON-IGothic';
}
.safe2-txt, .safe3-txt{
    display: none;
}
.safe2, .safe3{
    display: none;
}
.safe-btn{
    padding-left: 20vw;
}
.safe-btn a{
   text-decoration: none;
}
.safe-btn>ul{
    display: flex;
}
.safe-btn>ul>li{
    list-style: none;
    margin: 2% 2%;
    cursor: pointer;

    font-family: 'ON-IGothic';
    font-size: 17px;
}
.safe-btn>ul>li>a:hover{
    color: #012d5e;
}
.safe1-btn{
    border-bottom: 2px solid #012d5e;
    box-sizing: border-box;

    transition: all 1s;
}
.safe1-btn>a{
    padding-bottom: 1%;
    color: #012d5e;
    font-weight: 600;
}
.safe2-btn>a{
    padding-bottom: 1%;
    color: #000;
}
.safe3-btn>a{
    padding-bottom: 1%;
    color: #000;
}
.safe2-btn{
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
}
.safe3-btn{
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
}
.safe-txt>ul>li{
    list-style: none;
}
.safe-txt{
    width: 80%;
    padding-left: 20%;
}
.safe-txt h4{
    font-family: 'ON-IGothic';
    font-weight: 600;
    padding-bottom: 2%;
}
.safe-txt p{
    font-family: 'ON-IGothic';
    font-size:15px;
    color: #000;
}
.safe-img>div>img{
    width: 50%;
}

.safe-btn>ul{
    padding-left: 0px;
}

/* section 11*/
.footer-top{
    background-color: #f2f2f2;
}
.section11-title{
    padding-top: 5vh;
    padding-bottom: 3vh;
}
.section11-title h1{
    font-family: 'ON-IGothic';
}

.footer-img>img{
    width: 80%;
}
.footer-info h4{
    font-family: 'ON-IGothic';
    font-weight: 600;
    padding-bottom: 1vh;
    padding-top:2vh;
    color: #000;
    font-size: 20px;
}
.footer-info p{
    font-family: 'ON-IGothic';
    font-size:15px;
    color: #000;
}
.call-sub{
    display: flex;
    padding-left: 5vw;
}
.call-main{
    padding-left:5vw;
}
.question-sub-1{
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.footer-info-wrap{
    padding-bottom: 2vh;
}
.footer-top{
    height: 80vh;
}
.footer-bg{
    background: #012d5e;
    height: 20vh;
}
.footer-bottom{
    padding-top:2vh;
}
.footer-logo{
    padding-top: 2vh;
}
.footer-bottom-txt p{
    color: #ccc;
    font-family: 'ON-IGothic';
    font-size: 12px;
}
.footer-bottom-menu{
    cursor: pointer;
}

                        /*가로 480px 이하*/
/* ======================== media  480  ========== */
@media (max-width:480px){

    .title-font-size h1{
        font-size: 28px;
        font-family: 'ON-IGothic';
    }
    .title-font-size h3{
        font-size: 20px;
        font-family: 'ON-IGothic';
    }

    /* section01 */
    .main-title{
        padding-top: 3vh;
    }
    .main-title-1{
        font-size:30px;
        font-weight: 600;
        letter-spacing: 3px;
    }
    .main-title-2{
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .main-info-bg{
        height: 20vh;
        margin-top: 40vh;
    }
    .main-info img{
        width: 50%;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .main-info-title{
        font-size: 12px;
    }
    .main-info-txt{
        font-size: 8px;
    }    
    /* section02 */
    .tab-img>div>img{
        width: 100%;
    }
    .color-box>ul>li{
        width: 25px;
        height: 25px;
        margin: 10px 10px;
    }
    .text-content h3{
        font-size:15px;
    }
    .text-content p{
        font-size: 12px;
    }

    /* section03 */
    .exterior>img{
        width:100%;
        margin-bottom: 0.5vh;
    }
    .modal{
        top: 0;
        left: 1%;
    }
    .exterior-front{
        display: block;
    }

    /* section04 */
    .exterior-rear{
        display: block;
    }
    .exterior-rear-img{
        width: 80%;
    }
    .exterior-rear-img>img{
        margin-left: 12%;
    }

    /* section05 */
    .interior-1{
        display: block;
        margin-right: 5px;
    }
    .interior-2{
        display: block;
    }
    .interior-wrap{
        display: flex;
    }   
      .hovereffect h2 {
        font-size: 12px;
        padding:0% 0;    
      }    
      .hovereffect a, .hovereffect p {
       display: none;
      }

    /* section06 */    
    .fold-menu{
        margin-left:3vw;
    }
    .fold-detail>img{
        width: 50%;
    }
    .wheel>img{
        width: 100%;
    } 
    .wheel p{
        padding-top: 2%;
        font-size: 10px;
    }
    .folding-section{
        padding-top: 2%;
    }
    .fold-menu li{
        font-size: 10px;
    }

    /* section07 */
    .interior-color-img{
        height:200px;
        margin: 1% 2%;
    }
    .interior-color h3{
        padding-top:60%;
        padding-left: 10%;
        font-size: 12px;
    }
    .interior-color h4{
        padding-top: 2%;
        padding-left: 10%;
        font-size: 10px;
    }

    /* section8 */
    .swiper-slide p{
        font-size: 12px;
        padding-bottom: 450px;
    }
   
    /* section9 */
    .performance-txt{
        padding-top:0px;
    }
    .performance-wrap{
        display: block;
    }
    .performance-img>img{
        width: 100%;
    }
    .convenience-img>img{
        width: 100%;
    }
    .performance-txt>p{
        font-size: 10px;
    }
    .performance-txt>h4{
        font-weight: 500;
        font-size: 12px;
    }
    .convenience-img>p{
        font-size: 10px;
    }
    .convenience-img>h4{
        font-weight: 500;
        font-size: 12px;
    }

    /* section10 */
    .safe-btn>ul>li{
        margin: 2% 3%;
        font-size: 12px;
    }
    .safe-txt{
        width: 100%;
        padding-left: 0%;
    }
    .safe-txt h4{
        padding-bottom: 2%;
    }
    .safe-txt p{
        font-size:10px;
    }
    .safe-img>div>img{
        width: 100%;
    }
    .safe-btn{
        padding-left: 1vw;
    }
    .safe-btn>ul{
        padding-left: 0px;
    }

    /* section11 */   
    .call-sub{
        display: flex;
        padding-left: 10vw;
    }
    .call-main{
        padding-left:5vw;
    }
    .question-sub-1{
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
    }
    .footer-info-wrap{
        padding-bottom: 1vh;
    }
    .footer-top{
        height: 75vh;
    }
    .footer-bg{
        height: 25vh;
    }
    .footer-bottom{
        padding-top:1vh;
    }
    .footer-logo{
        padding-top: 1vh;
    }
    .section11-title{
        padding-top: 2vh;
        padding-bottom: 3vh;
    }
    .footer-info h4{
        font-weight: 600;
        padding-bottom: 1vh;
        padding-top:1vh;
        font-size: 15px;
    }
    .footer-info p{
        font-size:12px;
    }
    .footer-bottom-txt p{
        font-size: 8px;
    }

}

                        /*가로 481 ~ 767px 이하*/
/* ======================== media  481 ~ 767  ========== */
@media (min-width:481px) and (max-width:767px){
    .title-font-size h1{
        font-size: 36px;
    }
    .title-font-size h3{
        font-size: 24px;
    }
/* section01 */
    .main-title{
        padding-top: 7vh;
    }
    .main-title-1{
        font-size:50px;
        font-weight: 700;
        letter-spacing: 5px;
    }
    .main-title-2{
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 2px;
    }
    
    .main-info-bg{
        height: 20vh;
        margin-top: 40vh;
    }
    .main-info img{
        width: 40%;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .main-info-title{
        font-size: 15px;
    }
    .main-info-txt{
        font-size: 12px;
    }    

/* section02 */
    .tab-img>div>img{
        width: 100%;
    }
    .color-box>ul>li{
        width: 40px;
        height: 40px;
        margin: 10px 10px;
    }
    .text-content h3{
        font-family: 'ON-IGothic';
        font-size: 20px;
    }
    .text-content p{
        font-size: 15px;
    }
/* section03 */
    .exterior>img{
        width:100%;
        margin-bottom: 0.5vh;
        cursor: pointer;
    }
    .modal{
        top: 0;
        left: 1%;
    }
    .exterior-front{
        display: block;
    }
/* section04 */
    .exterior-rear{
        display: block;
    }
    .exterior-rear-img{
        width: 80%;
    }
    .exterior-rear-img>img{
        margin-left: 12%;
    }
/* section05 */
    .interior-1{
        display: block;
        margin-right: 5px;
    }
    .interior-2{
        display: block;
    }
    .interior-wrap{
        display: flex;
    }   
    .hovereffect h2 {
        font-size: 15px;
        padding:1% 0;    
    }    
    .hovereffect a, .hovereffect p {
        padding: 0px 0px;
        font-size: 10px;
    }

/* section06 */
    .fold-detail>img{
        width: 50%;
    }
    .wheel>img{
        width: 100%;
    } 
    .wheel p{
        padding-top: 2%;
        font-size: 10px;
    }
    .folding-section{
        padding-top: 2%;
    }
    .fold-menu{
        margin-left:15vw;
    }
    .fold-menu li{
        font-size: 12px;
    }
    
/* section07 */
    .interior-color-img{
        height:300px;
        margin: 1% 4%;
    }
    .interior-color h3{
        padding-top: 70%;
        padding-left: 10%;
        font-size: 20px;
    }
    .interior-color h4{
        padding-top: 2%;
        padding-left: 10%;
        font-size: 15px;
    }

/* section8 */
    .swiper-container {
        width: 100%;
    }
      .swiper-slide p{
        font-size: 20px;
        padding-bottom: 450px;
    }
   
/* section9 */
    .performance-txt{
        padding-top:0px;
    }
    .performance-wrap{
        display: block;
    }
    .performance-img>img{
        width: 100%;
    }
    .convenience-img>img{
        width: 100%;
    }
    .performance-txt>p{
        font-size: 10px;
    }
    .performance-txt>h4{
        font-weight: 600;
        font-size: 18px;
    }
    .convenience-img>p{
        font-size: 10px;
    }
    .convenience-img>h4{
        font-weight: 600;
        font-size: 18px;
    }

/* section10 */
    .safe-btn>ul>li{
        margin: 5% 3%;
        font-size: 17px;
    }
    .safe-txt{
        width: 100%;
        padding-left: 0%;
    }
    .safe-txt h4{
        padding-bottom: 2%;
    }
    .safe-txt p{
        font-size:15px;
    }
    .safe-img>div>img{
        width: 100%;
    }
    .safe-btn{
        padding-left: 0%;
    }

/* section11 */   
    .call-sub{
        display: flex;
        padding-left: 18vw;
    }
    .call-main{
        padding-left:5vw;
    }
    .question-sub-1{
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .footer-info-wrap{
        padding-bottom: 1vh;
    }
    .footer-top{
        height: 75vh;
    }
    .footer-bg{
        height: 25vh;
    }
    .footer-bottom{
        padding-top:2vh;
    }
    .footer-logo{
        padding-top: 1vh;
    }
    .section11-title{
        padding-top: 5vh;
        padding-bottom: 3vh;
    } 
    .footer-info h4{
        font-weight: 600;
        padding-bottom: 1vh;
        padding-top:2vh;
        font-size: 20px;
    }
    .footer-info p{
        font-size:15px;
    }

    .footer-bottom-txt p{
        font-size: 12px;
    }
}


                        /*가로 768px 이상 ~ 1023px 이하*/
/* ======================== media   768 ~ 1023  ============= */
@media (min-width:768px) and (max-width:1023px){
    /* section01 */
    .main-info img{
        width: 30%;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
  
      
    /* section02 */
    .color-box>ul>li{
        width: 40px;
        height: 40px;
        margin:30px 10px;
    }  
    /* section03 */
       
    /* section04 */
       
    /* section05 */
     
    .hovereffect h2 {
        font-size: 15px;
        padding: 1% 0;    
    }    
    .hovereffect a, .hovereffect p {
        padding: 0px 0px;
        font-size: 10px;
    }

    /* section06 */
    .wheel>img{
        width: 100%;
    }  
    .folding-section{
        padding-top: 10%;
    }

    .fold-menu{
        margin-left:5vh;
    }
    .fold-detail>img{
        width: 50%;
    }
            
    /* section07 */
  
    /* section8 */
    
    /* section9 */
    .performance-txt{
        padding-top:10%;
    }
    
    .performance-img>img{
        width: 100%;
    }
    .convenience-img>img{
        width: 100%;
    }
    
    /* section10 */
    .safe-btn{
        padding-left: 15vh;
    }
    .safe-btn a{
       text-decoration: none;
    }
  
    .safe-txt>ul>li{
        list-style: none;
    }
    .safe-txt{
        width: 90%;
        padding-left: 10%;
    }   

    /* section11 */
    .call-sub{
        display: flex;
        padding-left: 5vw;
    }
    .call-main{
        padding-left:5vw;
    }
    .question-sub-1{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .footer-info-wrap{
        padding-bottom: 2vh;
    }
    .footer-top{
        height:80vh;
    }
    .footer-bg{
        height: 20vh;
    }
    .footer-bottom{
        padding-top:2vh;
    }
    .footer-logo{
        padding-top: 2vh;
    }
    .footer-bottom-txt p{
        color: #ccc;
        font-family: 'ON-IGothic';
        font-size: 12px;
    }
    .footer-bottom-menu{
        cursor: pointer;
    }
    

    
}

                        /*가로 1024px 이상*/
/* ======================== media  min 1024  ================= */
@media (min-width:1024px){
    /* section01 */
    .main-info img{
        width: 20%;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
    .main-info{
        padding-top: 2vh;
        height: 20vh;
        display: flex;
    }

    /* section02 */
    .color-box>ul>li{
        width: 40px;
        height: 40px;
        margin:30px 10px;
    }
    
    /* section03 */
       
    /* section04 */
       
    /* section05 */
       
    
    /* section06 */
    
    /* section07 */
    
    /* section8 */
    
    /* section9 */
    
    /* section10 */
    .safe-btn{
        padding-left: 20vw;
    }
    /* section11 */
    .question-sub-1{
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

}



