@font-face { font-family: 'MapoFlowerIsland'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); font-weight: normal; font-style: normal; }

#section01{
    width:100%;  background:#f2f5e2;}


#section02{
	width:100%; background:#f2f5e2;}
	
#section03{
	width:100%;  background:#f2f5e2;}
	
#section04{
	width:100%; height:1500px; background:#F33;}
	
#section05{ 
	width:100%; height:1500px; background:#FC0;}

.menu_box{
    width:100%; 
    height:120px; 
    color:#fff; 
    position:fixed; 
    transition:all 0.5s ease-in-out; 
    -webkit-transition:all 0.5s ease-in-out; 
    z-index: 999;
	display: flex;
	justify-content: space-between;
    }
	
	.fixed{
        background:#fff; 
        transition:all 0.5s ease-in-out; 
        -webkit-transition:all 0.5s ease-in-out;
    }

	.logo{
        width:100px;
        padding-left: 8.5%;
        padding-top: 10px;
    }
		.menu_box{
            display: flex;
        }
		.navi{
            margin-left: auto;            
        }
		.menu_box > ul{
            float:right; 
            padding:30px 0 0 0;
            margin-right: 8.5%;           
            }
			
			.menu_box li{
                float:left; 
                text-align:center; 
                width:150px; 
            }
				
				.menu_box li a{
                    text-decoration:none; 
                    color:#000; 
                    line-height:100px; 
                    font-family: 'MapoFlowerIsland'; 
                    font-size:25px;}
					
					/**메뉴부분 마우스 오버시 색상 **/
					.menu_box li a:hover{
						border-top:2px solid #FFF; padding-top:40px; color:#FFF;}
						
					.menu_box li:nth-child(2) a:hover{
						border-top:2px solid #6FF; padding-top:40px; color:#6FF;}
						
					.menu_box li:nth-child(3) a:hover{
						border-top:2px solid #9F0; padding-top:40px; color:#9F0;}
						
					.menu_box li:nth-child(4) a:hover{
						border-top:2px solid #ccc; padding-top:40px; color:#ccc;}
						
					.menu_box li:nth-child(5) a:hover{
                        border-top:2px solid #FC0; padding-top:40px; color:#FC0;}

/*-----------------------------------------------  sec1 시작*/
.top{
    width:100%;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    padding-top: 120px;
    
}
.top-bg1{
    width:20%;
    display: flex;
    background: #cace79;
    margin-left: 8.5%;
}
.top-bg2{
    width:80%;
    height: 800px;
    background: url(../images/title_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 8.5%;

}

.top-bg1 p{
    color:#f2f5e2;
    line-height:80px;
    font-family: 'MapoFlowerIsland'; 
    font-size:50px;
    padding-left: 10%;
    padding-top: 10%;
}
/* -------------------------------------------  section02 시작*/
.intro-top{
    padding-top: 140px;
    padding-left: 8.5%;
    padding-right: 8.5%;
}
.intro-bot{
    padding-top: 140px;
    padding-left: 8.5%;
    padding-right: 8.5%;
}
.intro-title p{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'MapoFlowerIsland'; 
    color: #000;
    line-height:80px; 
}
.intro-right p{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'MapoFlowerIsland'; 
    color: #000;
    line-height:80px; 
    padding-left: 3%;
}
.intro-right{
    display: flex;
    width: 100%;
}
.intro-title2{
    display: flex;
    width: 50%;
}
.box{
    width: 50%;
    border-top: 2px solid #7b9b58;
    display: flex;
    margin-top: 40px;
}
.intro-bot{
    padding-top: 3%;
    display: block;
}
.design{
    display: flex;
}
.design-left{
    display: flex;
    width:60%;
}
.design-right{
    display: flex;
    width:40%;
    align-items: center;
    padding-left: 10%;
}
.act{
    display: flex;
    padding-top: 5%;
}
.act-left{
    display: flex;
    width:40%;
    align-items: center;
    padding-left: 8%;
}
.act-right{
    display: flex;
    width:60%;
}
.design-left p{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'MapoFlowerIsland'; 
    color: #000;
    line-height:40px; 
}
.act-right p{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'MapoFlowerIsland'; 
    color: #000;
    line-height:40px; 
    text-align: right;
}


/*sec2 원*/
.circle{
    width: 20px;
    height:20px;
    border-radius: 50%;
    background-color: #f2f5e2;
    border: 2px solid #7b9b58;
    margin-left: 5%;
    margin-right: 5%;
}
.design-right p{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'MapoFlowerIsland'; 
    color:  #7b9b58;
}
.act-left p{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'MapoFlowerIsland'; 
    color:  #7b9b58;
}

/*-------------------------------------------------  sec3 시작*/
.mid-title{
    padding-top: 140px;
    padding-left: 8.5%;
    padding-right: 8.5%;
    font-size: 3rem;
    font-weight: 500;
    font-family: 'MapoFlowerIsland'; 
    color: #000;
}
.mid{
    padding-top: 3%;
    padding-left: 8.5%;
    padding-right: 8.5%;
}

.hover-img{
    display: flex;
}
.container {
    position: relative;
    width: 50%;
    display: flex;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#7b9b58;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color:  #f2f5e2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'MapoFlowerIsland'; 
  }
  .hov-title{
      font-size: 3rem;
      font-weight: 500;
    padding-bottom: 10%;
  }
  .hov-txt{
      font-size: 1.4rem;
      line-height:30px;
  }
.hover-top{
    padding-right: 20%;
    padding-bottom: 3%;
}
.hover-bot{
      padding-left: 20%;
 }
 .hov-margin{
     margin-right: 3%;
 }

/* media */
@media (min-width: 576px){ 
    
}

@media (min-width: 768px){
  
}
@media (min-width: 992px){
   
}
@media (min-width: 1200px){
    
}

@media(max-width:767px){
    .top-bg1{
        width:30%;
        /* margin-right: 8.5%; */
    }
    .top-bg1 p{
        color:#f2f5e2;
        line-height:60px;
        font-family: 'MapoFlowerIsland'; 
        font-size:40px;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 15%;
    }
    .top-bg2{
        width:70%;
        height: 350px;
    }

    .menu{
        display: block;
    }
    .navi{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
    /*sec2*/
    .intro-top p{
        font-size: 30px;
        font-weight: 600;
        line-height: 50px;
    }      
    .design-right p{
        line-height: 50px;
        padding-bottom: 50px;
        padding-top: 20px;
        font-size: 30px;
    }
    .act-left p{
        line-height: 50px;
        padding-bottom: 50px;
        padding-top: 20px;
        font-size: 30px;
    }
    .act-left{
        padding-right: 5%;
        padding-left: 0%;
    }
    .design-right{
        padding-left:  5%;
        padding-top: 50px;
    }
    .circle{
         width: 12px;
         height:12px;
    }
    .design-left{
        width:100%;
    }
    .design-right{
        display: flex;
        flex-direction: column;
        width: 8%;   
    }
    .design-left p{
        font-size: 20px;
        line-height: 38px;
    }
    .act-right p{
        width:100%;
        text-align: left;
        font-size: 20px;
        line-height: 38px;
    }
    .act-right{
        width:100%;
    }   
    .act-left{
        display: flex;
        flex-direction: column-reverse;
        width: 8%;
    }

    /*sec3*/
    .mid-title{
        font-size: 30px;
        font-weight: 600;
        line-height: 50px;
    }
    .container{
        display: block;
        width:100%;
        margin-bottom: 5%;
    }
    .hover-img{
        display: block;
    }
    .hover-top{
        padding-right: 0%;
        padding-bottom: 0%;
    
    }
    .hover-bot{
          padding-left:0%;
     }
    .hov-title{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 3%;
    }
    .hov-txt{
        font-size: 15px;
        line-height:20px;
    }



}                      

@media(max-width:1100px){
    .menu{
        display: block;
    }
    .navi{
        display: none;
    }
    nav{
        justify-content: space-between;
    }

   

}      

@media(max-width:1700px){
    .box{
        display: none;
    }
    .intro-title2{
        width:100%;
    }
    /* .design-right{
        display: none;
    }
    .act-left{
        display: none;
    } */
    /* .act-right{
        width:100%;
    }
    .act-right p{
        width:100%;
    } */
    

}


