
    @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css); .jejumyeongjo * { font-family: 'Jeju Myeongjo', serif; }

    @font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }

.section01{
    width: 100%;
}
.logo{
    padding-left: 20px;
}
.main-title{
    width: 40%;
    padding-top: 100px;
    padding-left: 220px;
}
.main-title-1{
    font-family: 'Jeju Myeongjo', serif;
    font-size:70px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #fff;
}
.main-title-2{
    font-family: 'Jeju Myeongjo', serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ccc;
}

.main-img{
    background: url(../images/sec01-7.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
    justify-content: center;
}



.main-info-bg{
    background-color: rgba(0, 0, 0, 0.7);

    width: 100%;
    height: 20vh;
    margin-top: 40vh;
}
.main-info{
    padding-top: 20px;
    height: 20vh;
    display: flex;
}
.main-info img{
    width: 20%;
    margin-bottom: 10px;
}
.main-info p{
    font-family: 'NotoSerifKR';
    color: #ccc;
}
.main-info-title{
    font-size: 17px;
}
.main-info-txt{
    font-size: 14px;
}
/* section2 */
.section02{
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.section02-title h1{
    font-family: 'Jeju Myeongjo', serif;
}
.sg,.mc,.tb,.sb,.rf{
    display: none;
}
.color-box>ul{
    display: flex;
}
.color-box>ul>li{
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    cursor: pointer;
}
.text-content>ul>li{
    list-style: none;
}
.text-content h3{
    font-family: 'Jeju Myeongjo', serif;
    font-weight: 600;
}
.text-content p{
    font-family: 'NotoSerifKR';
}
.wc-color{
    background-color: #f3f5f5;
    border: 3px solid #ccc;
}
.sg-color{
    background-color: #555756;
    border: 1px solid #ccc;
}
.mc-color{
    background-color: #273446;
    border: 1px solid #ccc;
}
.tb-color{
    background-color: #1a191e;
    border: 1px solid #ccc;
}
.sb-color{
    background-color: #3f1f23;
    border: 1px solid #ccc;
}
.rf-color{
    background-color: #404e49;
    border: 1px solid #ccc;
}

.tab-img>div>img{
    width: 80%;
}
.sg-txt, .mc-txt, .tb-txt, .sb-txt, .rf-txt{
    display: none;
}

/* section3 */
.section03{
    background-color: #f2f2f2;
   padding-bottom: 10vh;
   padding-top: 10vh;
}
.section03-title{
    /* padding-top: 50px; */
    padding-bottom: 20px;
}
.section03-title h1{
    font-family: 'Jeju Myeongjo', serif;
}
.section03-title h3{
    font-family: 'Jeju Myeongjo', serif;
}
.exterior>img{
    width: 100%;
    margin-bottom: 1.7vh;
    cursor: pointer;
}
.modal-header h4{
    font-family: 'NotoSerifKR';
}
.modal-body p{
    font-family: 'NotoSerifKR';
}

/* section4 */
.section04{
    padding-bottom: 10vh;
   padding-top: 10vh;
}
.section04-title{
    padding-bottom: 20px;
}
.section04-title h1{
    font-family: 'Jeju Myeongjo', serif;
}
.wheel{
    margin-bottom: 2vh;

    transition: all 0.5s;
}
.wheel p{
    font-family: 'NotoSerifKR';
    padding-top: 20px;
    font-size: 15px;
}
.wheel img{
    cursor: pointer;
    width: 60%;
}
.wheel>img:hover{
    /* transform: scale(1.2); */
}

/* section5 */
.section05{
    padding-bottom: 10vh;
   padding-top: 10vh;
}
.section05-title{
    padding-bottom: 20px;
}
.section05-title h1{
    font-family: 'Jeju Myeongjo', serif;
}








/* section */
.section08{
    padding-bottom: 10vh;
   padding-top: 10vh;
}
.section08-title{
    padding-bottom: 20px;
}
.section08-title h1{
    font-family: 'Jeju Myeongjo', serif;
}
.fold-menu li{
    font-family: 'Jeju Myeongjo', serif;
}
/* .hss-detail h3{
    font-family: 'Jeju Myeongjo', serif;
}
.hss-detail p{
    font-family: 'NotoSerifKR';
    font-size: 15px;
    padding-top: 2vh;
} */
/* .fold-detail>img{
    width: 100%;
} */


@media (max-width:767px){
    /* section01 */
    .main-title{
        width: 60%;
        padding-top: 10px;
        padding-left: 40px;
   
    }
    .main-title-1{
        font-size:40px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    .main-title-2{
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .main-info-bg{
        height: 20vh;
        margin-top: 55vh;
    }
    .main-info img{
        width: 60%;
    }
    .main-info-title{
        font-size: 15px;
    }
    .main-info-txt{
        font-size: 12px;
    }


    /* section02 */
    .tab-img>div>img{
        width: 100%;
    }
    .color-box>ul>li{
        width: 40px;
        height: 40px;
        margin: 10px 10px;
    }
}
